:host {
  width: 150px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 4px;
  overflow: auto;
  background-color: #cccccc84;

  img {
    opacity: 0.5;
    cursor: pointer;
  }

  .selected {
    opacity: 1;
  }
}